# Maps
assets/css/*.map

# Apache
.htaccess
.htpasswd

# WordPress
wp-config.php
*.sql

# PHP
vendor/

# Node.js
node_modules/

# Logfiles and tempfiles
/log/*
!/log/.keep
/tmp
*.log

# Other unneeded files
doc/
*.swp
*~
.project
.DS_Store
.idea
.vscode

# Environment files
.env
.env.*
!.env.example

# Build files that shouldn't be in the repo
.cache/
dist/
build/
.secret
